/* change these */

@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat:wght@100;200;300;500&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic");

* {
    box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently,
name the variables differently,
use the fonts in other ways in the font hierarchy etc. */

/* change these */
:root {
    --bg-color: #ECD0CC;
    --link-color: #9CB7A0;
    --link-hover-color: #264931;
    --color-4: #E2B995;
    --color-5: #EAE9E4;

    --header-font: "Gruppo", sans-serif;
    --link-font: "Montserrat", sans-serif;
    --secondary-font: "Montserrat", serif;
    --main-text-color: #2d2d2d;

    --white-space: 1rem;
}

button {
    transition: all 4s;
}

a {
/*    transition: all 3s;*/
}

button:hover {
    background-color: var(--link-hover-color);
    transform: scale(1.1);
    color: white;
}

button:active {
    background-color: var(--bg-color);
}

a:hover {
/*    transition: 0.2s;*/
    color: var(--link-hover-color);
    text-decoration: overline;
}

html {
    font-size: 100%;
    font-family: var(--header-font);
}

img {
    max-width: 100%;
    height: auto;
}

header,
main,
footer {
    max-width: 1300px;
    margin: 0 auto;
    padding: calc(2 * var(--white-space));
}

.full-width {
    background: var(--bg-color);
    color: white;
    width: 100%;
}

.header-wrapper h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -2px;
    padding-right: 0.75em;
    font-weight: bold;
    color: white;
}

.header-wrapper h2 {
    font-size: 1.6em;
    color: rgba(255, 255, 255, 0.95);
    font-weight: bold;
    margin: var(--white-space) 0;
}

.header-wrapper h3 {
    font-size: 1.2rem;
    font-style: italic;
}

.header-wrapper h4 {
    font-size: 0.8rem;
}

main {
    padding: calc(2 * var(--white-space));
}

section {
    margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
    font-style: italic;
    font-size: 1.3rem;
    color: #777;
    margin: 0.5rem 0;
}

ul {
    display: flex;
    justify-content: space-between;
}

.swatches li {
    margin-right: 5vw;
    height: 15vw;
    width: 20%;
    border-radius: 50%;
}

ul li:last-child {
    margin-right: 0;
}

.color-swatch-1 {
    background-color: var(--bg-color);
}

.color-swatch-2 {
    background-color: var(--link-color);
}

.color-swatch-3 {
    background-color: var(--link-hover-color);
}

.color-swatch-4 {
    background-color: var(--color-4);
}

.color-swatch-5 {
    background-color: var(--color-5);
}

.textures li {
    height: 30vw;
    width: 33%;
    margin-right: 6vw;
    background-position: center;
}

.texture-swatch-1 {
    background: url(../img/inspi1.png);
}

.texture-swatch-2 {
    background: url(../img/inspi2.png);
}

.texture-swatch-3 {
    background: url(../img/inspi3.png);
}

.images ul {
    flex-direction: column;
    text-align: center;
}

.images li {
    display: block;
    /*margin-right: 5vw;*/
    margin-bottom: 1rem;
}

button {
    padding: 1rem 2rem;
    border-radius: 50px;
    background: var(--link-color);
    text-align: center;
    text-decoration: none;
    font: 0.8em/1 var(--header-font);
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    /*    text-shadow: 0px -1px 0px #0374a0;*/
    transition: all 0.2s ease;
    cursor: pointer;
    margin: 0 2rem 2rem 0;
    border-color: white;
}

.secondary-button {
    background: white;
    color: var(--link-hover-color);
    border-color: var(--link-hover-color);
}

button:focus,
button:active,
button:focus-within {
    outline: 0;
    border-radius: 4px;
}

.typography-main {
    color: var(--main-text-color);
}

.logos {
    margin-top: 1em;
    display: flex
}

.logo1 {
    background-image: url(../img/logo1.png);
    background-size: contain;
    height: 20vw;
    width: 100%;
    margin-right: 3rem;
    background-repeat: no-repeat;
    float: left;

}

.logo2 {
    background-image: url(../img/logo2.png);
    background-size: contain;
    height: 20vw;
    width: 100%;
    /*     background-position: center center;*/
    background-repeat: no-repeat;
}

.h1-sample {
    font-size: 3rem;
    font-weight: bold;
    color: var(--link-hover-color);
}

.h2-sample {
    font-size: 1.5rem;
    color: var(--color-4);
}


p.typography-sample {
    font-family: var(--secondary-font);
    font-weight: 300;
    line-height: 1.5;
    max-width: 960px;
}

strong {
    font-weight: bold;
}

em {
    background-color: var(--color-5);
}

a {
    font-family: var(--link-font);
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
/*    transition: all 0.2s;*/
}

p[class*="font-details-"] {
    margin-top: 0.5rem;
    margin-bottom: calc(2 * var(--white-space));
    font-size: 0.75rem;
    font-family: var(--secondary-font);
    color: #6f6f6f;
}

.adjectives ul {
    font-size: 2rem;
    opacity: 0.5;
}

.adjectives ul {
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
}

@media (min-width: 800px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }

    .swatches li {
        margin-right: 5%;
        height: 7vw;
        width: 20%;

    }

    .textures li {
        /*        height: 15vw;*/
    }
}

@media (min-width: 900px) {
    .adjectives ul {
        flex-direction: row;
    }
}
